# Sentiment Labling to the reviews

In [1]:
from textblob import TextBlob
import pandas as pd
import streamlit as st
import cleantext

def sentiment_analyze(x):
    
    blob1 = TextBlob(str(x))
    score = blob1.sentiment.polarity
    
    if score >= 0.5:
        return 'Positive'
    elif score <= -0.5:
        return 'Negative'
    else:
        return 'Neutral'


file = r'C:\Users\itw\Downloads\all csv\merged_reviews.csv'
df = pd.read_csv(file)
df['sentiment'] = df['review'].apply(sentiment_analyze)

In [2]:
df
labled_file = r'C:\Users\itw\Downloads\all csv\labled_data.csv'
df.to_csv(labled_file, index=False)

,reviewer_name,review_time,review,hotel_name,sentiment
0,Muhammad Bilal Aqeel,a year ago,Food is very average. I don't have good experi...,Citi Hotel and Restaurant,Neutral
1,Arslan Nadeem,a year ago,Room are really comfortable neat n clean atmo...,Citi Hotel and Restaurant,Neutral
2,Babar Jamil Rajput,11 months ago,"Citi Hotel, the oldest hotel in Sheikhupura. ...",Citi Hotel and Restaurant,Neutral
3,Shahziab Shahziab,a week ago,nice and Good,Citi Hotel and Restaurant,Positive
4,Ayaz Shabbir Advocate,a month ago,I like this hotel for delicious and spicy dish...,Citi Hotel and Restaurant,Positive
...,...,...,...,...,...
1328,Hamza Badar,a month ago on,The accommodations at Serena Hotel were exquis...,Serena hotel islamabad,Positive
1329,zainab imad,a month ago on,My two-day stay at Serena Hotel Islamabad was ...,Serena hotel islamabad,Positive
1330,Salal Khan,a month ago on,"- ""Extremely well maintained Hotel with a touc...",Serena hotel islamabad,Positive
1331,Aimen S,a month ago on,Had delightful lunch at Rakaposhi with friends...,Serena hotel islamabad,Positive
1332,Aleem Manzoor,a month ago on,Exceptional stay at this hotel! From the warm ...,Serena hotel islamabad,Positive

# Counting sentiments

In [3]:
df['sentiment'].value_counts()

sentiment
Neutral     751
Positive    576
Negative      6
Name: count, dtype: int64

# Checking for null values in dataset

In [4]:
df.isnull().sum()

reviewer_name    0
review_time      0
review           0
hotel_name       0
sentiment        0
dtype: int64